<h2 id="header_top">Welcome to Campus Cutie Kevin Morrissey!</h2>

<div id="writing">
<% if (@days_til_bday > 1) %>
  <p>One thing I want to say before I talk more about
  CampusCutieKevinMorrissey.com is that Campus Cutie Kevin
  Morrissey's birthday is in 
  <span class="red"><b><%= (Date.parse("2013-06-17") - eastern_nf(DateTime.now)).to_i %> days</b></span>! 
  Please <span class="red"><b>post on this for Campus Cutie Kevin Morrissey's
  birthday</b></span>!
  Also, Campus Cutie Kevin Morrissey hasn't seen this web Internet site
  page yet, so <span class="red"><b>don't tell Campus Cutie Kevin Morrissey about 
  it</b></span>! It's a secret! My older brother Sanchez is going to tell Campus Cutie Kevin
  Morrissey about it by posting on Campus Cutie Kevin Morrissey's The Facebook
  profile on birthday day! So please leave this as a surprise please!
  If you don't, I'll tell my Mom and she'll have a talk with your Mom. Now I will
  talk about CampusCutieKevinMorrissey.com!
  </p>
<% elsif (@days_til_bday == 1) %>
  <p>Campus Cutie Kevin Morrissey's birthday is 
  <span class="red">tomorrow</span>! Happy Birthday to Campus Cutie Kevin 
  Morrissey! <span class="red">Tomorrow</span>, write your birthday wishes as a
  post! I know I will!
  </p>
<% elsif (@days_til_bday == 0) %>
  <h3 class="red">Happy birthday Campus Cutie Kevin Morrissey! Woo hoo!</h3>
<% end %>

<h3><div class="purple"><%= link_to 'View Campus Cutie Kevin Morrissey Posts!',
                                posts_path %></div></h3>

<p>This is the home of all things Campus Cutie Kevin Morrissey. If you're looking for
information about Campus Cutie Kevin Morrissey, look no further! If you're looking to write
about Campus Cutie Kevin Morrissey, look no further! If you're looking to look at pictures of
Campus Cutie Kevin Morrissey, look no further! If you're looking to wish Campus Cutie Kevin Morrissey a
happy birthday for Campus Cutie Kevin Morrissey's birthday, look no further! If you're looking to get a
copy of Campus Cutie Kevin Morrissey's recent tell-all book, you're in the wrong place. This is an
unauthorized Campus Cutie Kevin Morrissey fan club, so I'm not allowed to
sell it. :(</p>

<h3><div class="purple"><%= link_to 'Submit Your Own Post! (You\'ll need to sign up first)',
                                posts_path %></div></h3>

<p>I know that coming to this Campus Cutie Kevin Morrissey internet webpage means you're just as big of a
Campus Cutie Kevin Morrissey fan as I am! Just kidding, no one is! ;) But I bet
that you're at least interested in learning more about Campus Cutie Kevin
Morrissey. Well, you've come to
the right place! I'm constantly updating my Campus Cutie Kevin Morrissey website
page because I'm always learning more things about Campus Cutie Kevin Morrissey! :P</p>

<p>Here are some of the navigations that my Campus Cutie Kevin Morrissey World
Wide Website has is the followings:</p>
<ul id="nav_explain">
  <li class="nav_explain_item">
    <%= link_to 'Posts', posts_path %>: Here you can post posts about Campus Cutie
    Kevin Morrissey and read posts about Campus Cutie Kevin Morrissey and post
    comments on posts about Campus Cutie Kevin Morrissey and read posted comments
    about posted posts about Campus Cutie Kevin Morrissey!
  </li>
  <li class="nav_explain_item">
    <%= link_to 'About', about_path %>: Here is information about me, aka
    Campus Cutie Kevin Morrissey's biggest fan! There's also information about
    my brother Sanchez on this page.
  </li>
  <li class="nav_explain_item">
    <%= link_to 'Biography', bio_path %>: Here is a biography of Campus Cutie 
    Kevin Morrissey that my older brother Sanchez found in our local library! 
    He even typed it up for me, since he said it had a lot of words in it that 
    I didn't understand. ;( I hope you enjoy it!
  </li>
  <li class="nav_explain_item">
    <%= link_to 'Photos', photos_path %>: Here are photos of Campus Cutie Kevin
    Morrissey that my older brother Sanchez found on the Internet! I'm not old
    enough to have a The Facebook account so Sanchez went on his and found some
    photos Campus Cutie Kevin Morrissey. Surprises await!
  </li>
  <li class="nav_explain_item">
    <%= link_to 'Links', links_path %>: Here are links to things about Campus
    Cutie Kevin Morrissey. They are written by people who aren't true Campus
    Cutie Kevin Morrissey fans, but it's nice that other people are writing
    about him.
  </li>
  <li class="nav_explain_item">
    <%= link_to 'Submit', new_post_path %>: Here you can quickly write 
    something about Campus Cutie Kevin Morrissey. If you're like me,
    you'll appreciate being able to post about Kevin as soon as possible! ;P
  </li>
</ul>

<p>If you have any questions about Campus Cutie Kevin Morrissey, feel free to
   send me an email at <%= mail_to "campuscutiekevin@gmail.com" %>!
</p>

</div>

