<div class="prev_page"><%= link_to_previous_page @posts, 'Prev', :params => { :category => @category } %></div>
<div class="next_page"><%= link_to_next_page @posts, 'Next', :params => { :category => @category } %></div>

<div id="post_header"><h2 id="header_top">Posts about Kevin!</h2></div>

<div id="post_category">Category:</div>
<div id="post_nav">
  <ul>
    <li class="post_nav_item"<% if !@category or @category == 'all' %> id="selected_category"<% end %>>
        <%= link_to 'All', posts_path %>
    </li>
  <% Post.select(:category).uniq.each do |c| %>
    <li class="post_nav_item"<% if c.category == @category %> id="selected_category"<% end %>>
        <%= link_to c.category, posts_path(:category => c.category.downcase) %>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li class="post_nav_item"<% if @category == 'mine' %> id="selected_category"<% end %>>
        <%= link_to 'My Posts', posts_path(:category => 'mine') %>
    </li>
  <% end %>
  </ul>
</div>

<% if @posts.empty? %>
<p>No posts!</p>
<p><%= link_to 'Submit Your Own', new_post_path %>
<% end %>

<table id="posts">
<% @posts.each do |post| %>
  <tr>
    <td class="post_left"><div class="red"><%= post.user.name %></div></td>
    <td class="post_right"><%= link_to 'Show comments', post_path(post) %></td>
  </tr>
  <tr>
    <td class="post_left"><div class="orange">
      <%= link_to post.category, posts_path(:category => post.category.downcase) %>
    </div></td>
    <td class="post_right"><%= link_to 'Submit Your Own', new_post_path %></td>
  </tr>
  <tr>
    <td class="post_left"><div class="blue"><i>
        <%= post.created_at.in_time_zone("Eastern Time (US & Canada)").strftime('%b %d, %Y %I:%M %p') %>
    </i></div></td>
    <td class="post_right">
    <% if can? :update, post %>
      <%= link_to 'Edit', edit_post_path(post) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <% end %>
    <% if can? :delete, post %>
      <%= link_to 'Delete', post, :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
    </td>
  </tr>
  <tr>
    <td class="post_message" colspan="2"><%= post.message %></td>
  </tr>
  <tr>
    <td class="post_separator" colspan="2"></td>
  </tr>
<% end %>
</table> 

<%= paginate @posts, :window => [11 - @current_page, 5, 
                                 @current_page - @total_pages + 10].max, 
                     :params => { :category => @category } %>
