<h2 id="header_top">A Short Biography of Campus Cutie Kevin Morrissey</h2>
<div id="writing">
<p>
  Here is the biography of Campus Cutie Kevin Morrissey that my older brother
  Sanchez found in our local library! He even broke it up into sections for us!
  There are a lot of interesting facts in it!
</p>
</div>
<div id="bio" class="sanchez">
<div id="header_section">
<div class="bio_img_right">
  <%= image_tag 'kevo.jpg' %>
  <div>Kevin Morrissey in 2011, signing autographs in Guam</div>
</div>
<p>
Kevin Morrissey, commonly known as Campus Cutie Kevin Morrissey, is an
international media personality widely considered the preeminent expert on
stuff. Born in 1990, Kevin Morrissey rose to fame in 1997 as the youngest ever
elephant polo player in the world. His unlikely journey as an elephant polo
player and his adventures thereafter became the subject of the New York Times
bestselling book "To Dance with Glory: The Kevin Morrissey Story" and the movie
based on the novel, "Avatar." In the years after his initial fame and success,
he dedicated his life to charitable causes and job creation in India. In 2004,
he started a program to help disadvantaged Indian women prepare and pay for
college educations in the United States. 
</p>
<p>
Two years later, he opened a black bean
canning factory in Mumbai. Recognized internationally for his innovative  fair
pay and work environment in a third world country, his Morrissey Bean Co. boomed
and spawned six additional factories in cities across India. Morrissey sold the
company in 2008 in order to focus on his college career at Tufts University, as
well as his acceptance into the IUSG (International Union of Stuff Guys). During
his time at Tufts, he was also knighted in the order of Campus Cuties. He later
became known for his contributions to the direct-to-TV advertising industry,
inventing such products as the Snuggie and the Magic Bullet. In addition to his
industrial endeavors, Morrissey is known for being a founding member of Kevin
Morrissey with A Cat Named Walrus featuring Dave Grohl, the Grammy Award
winning supergroup.
</p>
</div> 
<div id="bio_nav" class="purple">
  <div id="bio_contents"><b>Contents</b></div>
  <ul>
    <li><%= link_to '1 Early Life', '#Early_Life' %></li>
    <li><%= link_to '2 Charity and Bean Morrissey Bean Co.',
                    '#Charity_and_Bean_Morrissey_Bean_Co.' %></li>  
    <li><%= link_to '3 Tufts and the IUSG', '#Tufts_and_the_IUSG' %></li>
    <li><%= link_to '4 Music and Other Ventures', 
                    '#Music_and_Other_Ventures' %></li>
  </ul>
</div>
 <div id="Early_Life" class="section_title"><h3>Early Life</h3></div>
 <p> 
Morrissey was born on June 17, 1990 in the skies above Rochester, New York.
His parents were free climbing a cliff in a remote area of upstate New York
and had to request air evacuation after his mother's water broke on the cliff
as she watched a family of bears rip the tires and engine out of their car
located at the base of the cliff 279 feet below. On the helicopter ride to the
University of Rochester Medical Center, Kevin was born.
</p> 
<div class="bio_img_left">
  <%= image_tag 'kevo_shaun_white.jpg' %>
  <div>Kevin with childhood best friend, snowboarder Shaun White</div>
</div>
<p>
Morrissey's early years were very similar to the traditional suburban
American child's. However, this changed drastically in 1996 upon his
involvement in the Delta Airlines Kolkata disaster. He and his accelerated
learning class were scheduled to take a week-long educational trip to Florida
to learn about astrophysics, but he instead wandered onto airline flight
699Q3 to Kolkata, India due to the aura of the women onboard. As was widely
reported in the media surrounding this infamous flight's crash, one man's pet
tiger escaped from its cage after being administered methamphetamine instead
of a sedative and ripped a hole in the hull of the plane. The loss in cabin
pressure caused multiple luggage bags to be sucked out of the plane and into
the left wing engine, causing a massive explosion and sending the plane
careening out of the sky and into the jungles of central India. As one of
only a handful of survivors, the six year-old Morrissey was quickly separated
from the group and spent three days foraging for food in the wilderness while
looking for a trace of civilization. A family of Asian elephants then found
Morrissey using a tool constructed out of wood and panther teeth to knock off
high-hanging fruit from trees and deemed him worthy of their help. They
quickly adopted him as a part of their group, teaching him the ways of the
jungle.
</p> 
<div class="bio_img_right">
  <%= image_tag 'kevo_injury.jpg' %>
  <div>Kevin with his team's doctor/coach, after his first IEPA injury</div>
</div>
<p>
Morrissey lived with this family of elephants for seven weeks before they
were found by elephant polo talent scouts looking for new pachyderm
recruits. Upon seeing his bond with the elephants, they became convinced
that Kevin could help them win lucrative new endorsements as the new face of
elephant polo. This proved to be true, as he became the youngest player ever
in the International Elephant Polo Association (IEPA) and helped lead his
team to victory in the Elephant Polo World Cup. He ended his season as the
top scorer in the league, winning rookie of the year and earning a starting
spot in the 1997 IEPA pro-bowl. His newfound fame reached his family, who
were overjoyed to learn that Kevin was alive and well. They successfully won
the landmark international court case Morrissey v. IEPA in The Hague,
allowing Kevin to finally return home to the U.S.
</p> 
<p>
Morrissey's story was immortalized in Dan Brown's bestseller, "To Dance
with Glory: The Kevin Morrissey Story" and adapted in 2009 as the primary
plot for James Cameron's modern classic, "Avatar." At the 82nd Academy
Awards, he received an honorary Academy Award for his celebrated
contributions to cinema despite not actually taking any direct role in the
production of Avatar.
</p> 
<div id="Charity_and_Bean_Morrissey_Bean_Co." class="section_title">
  <h3>Charity and Morrissey Bean Co.</h3></div>
<div class="bio_img_left_top">
  <%= image_tag 'elephant_pen.jpg' %>
  <div>Morrissey Elephant Reserve and Polo Training Academy, 2001</div>
</div>
<p>
Kevin finally returned to his normal life in Rochester, but his heart
still remained in India. Seeing firsthand the impoverished conditions of
some areas of India, he set out to form a number of charitable and
philanthropic organizations to help improve life there. His first effort
focused on improving the life of the elephant community by opening the
Morrissey Elephant Reserve and Polo Training Academy in 2000. This 80
square mile area serves as a refuge for dozens of Asian Elephants as well
as an elephant polo training school for the most ambitious and athletic
elephants. Acceptance into this school depends on performance on a
physical test and a score above 700 on the Elephant Aptitude Test (EAT).
The academy has since produced a number of major elephant polo stars,
including four time Gold Tusk winner Stompy.
</p>       
<p>
In 2004, Morrissey's charitable causes turned from elephant education
towards human education. After forming a number of youth ultimate frisbee
leagues in various Indian cities, he created the Dreams Across Borders
Fund. This program provided tutoring, college application assistance, and
scholarships to Indian women without the means to pursue college
themselves. The fund partnered with several universities in the United
States to help educate hundreds of Indian women.
</p>        
<div class="bio_img_right">
  <%= image_tag 'kevo_bear.jpg' %>
  <div>Kevin, 14, after a Dreams Across Borders speech at the U.N.</div>
</div>
<p>
Morrissey did not stop at philanthropy, however. In 2006, he formed
Morrissey Bean Co. in an effort to provide a number of good, stable jobs
for the community of Mumbai. In addition to supplying the people of
India with nutritious black beans, his canning factory in Mumbai
created 6,000 new jobs. After opening Morrissey Bean Co. received
strong support from the International Labor Organization, Amnesty
International, and the International Red Cross through providing high
wages and comfortable working conditions. The company was also
featured in Bloomberg, Time Magazine, and the Economist as an example
of a successful company operating in a third-world area without
exploiting the workforce. Morrissey opened six more factories in
different cities in India between the years of 2006 and 2008. He
stepped down as president and CEO of Morrissey Bean Co. in 2008 upon
his acceptance to Tufts University in order to focus on his academic
career. In recognition of the impact he had on the community,
Morrissey was awarded the Bharat Ratna, the highest civilian honor in
India.
</p>
<div id="Tufts_and_the_IUSG" class="section_title">
  <h3>Tufts and the IUSG</h3></div>
<div class="bio_img_left_top">
  <%= image_tag 'kevo_dates.jpg' %>
  <div>Morrissey at a Tufts event with his two dates and his driver</div>
</div>
<div class="bio_img_left">
  <%= image_tag 'kevo_pool.jpg' %>
  <div>Morrissey in his first Campus Cutie photo shoot, circa 2009</div>
</div>
<div class="bio_img_left">
  <%= image_tag 'kevo_boat.jpg' %>
  <div>Kevin in his most recent Campus Cutie photo shoot, 2013</div>
</div>
<p>
Morrissey enrolled in the Tufts University school of Engineering as an
electrical engineering major in 2008. While at Tufts, he participated in many
activities outside of his coursework, including Tufts Dance Collective and
Tufts Ultimate Frisbee. However, he became best known as a recipient of the
prestigious Campus Cutie Award and subsequent inductee into the Order of Campus
Cuties (OCC). Morrissey was first noticed by a Campus Cutie talent scout in the
fall of his freshman year, though it was unknown to him. His actions were
reviewed by several more scouts over the semester, as is the standard Campus
Cutie procedure, before he was officially nominated for the Campus Cutie Award.
Once the OCC put forth his nomination, the vote was put to the wider campus
population. For the first time in the recorded history of Campus Cuties,
Morrissey won in a unanimous vote. He became the only Campus Cutie inductee
from Tufts in 2009, as nobody else could manage to pull votes away from him.
Morrissey, always humble, only reluctantly began to accept his now popular
nickname "Campus Cutie Kevin Morrissey" after students and professors refused
to call him by anything other than this affectionate title. Throughout his
collegiate career, he was regularly involved in OCC charitable activities. In
2010, he helped the OCC raise $7.4 million on "Hug Campus Cutie Kevin Morrissey
for $5 Day", which was used for renovations and new polo equipment for the
Morrissey Elephant Reserve. Morrissey was named as a Regional Vice Chairman
of the Order of Campus Cuties in 2011.
</p>
<div class="bio_img_right">
  <%= image_tag 'kevo_stuff_guys.jpg' %>
  <div>Morrissey with fellow IUSG members, including Dave Grohl</div>
</div>
<p>
In the summer before his freshman year at Tufts, Morrissey received an
invitation to join the International Union of Stuff Guys (IUSG). The IUSG is
an international group of people who are widely accepted to be "Stuff Guys,"
or individuals who excel at everything they attempt and need very little
experience before mastering anything. The IUSG typically requires a minimum
age of 30 before being initiated, but Morrissey was made an exception due to
his successful athletic, industrial, and humanitarian efforts at such a
young age.
</p>
<div class="bio_img_left">
  <%= image_tag 'kevo_go_car.jpg' %>
  <div>Morrissey displays an IUSG R&I Lab car he helped design</div>
</div>
<p>
Although Morrissey attended college full-time, he still worked at the IUSG
Research and Innovation Lab during summers. Here, he was given the
resources to create products that would significantly impact life for all
people. His first invention was a miniature blender/food processor that was
designed to provide fast, efficient blending to people with cluttered or
small kitchens. This was sold as the Magic Bullet. Later, after watching
friends struggle with staying warm in blankets while using their arms for
various arm activities, he invented the blanket with sleeves. This was sold
to the populace as the Snuggie, which revolutionized leisure activities for
hundreds of millions of people. It also became a worldwide fashion fad
during the following winter. Kevin reportedly has never worn a Snuggie
himself.
</p>
<div id="Music_and_Other_Ventures" class="section_title">
  <h3>Music and Other Ventures</h3></div>
<div class="bio_img_left_top">
  <%= image_tag 'kevo_cat_named_walrus.jpg' %>
  <div>Kevin Morrissey with A Cat Named Walrus featuring Dave Grohl</div>
</div>
<p>
In 2010, Campus Cutie Kevin Morrissey and three others formed a supergroup
called Kevin Morrissey with A Cat Named Walrus featuring Dave Grohl. While
they originally did not want to release any of their music and only toured
empty bus stations to ensure the minimum number of people heard it, their
first recording session was bootlegged and distributed nationwide. This
would become their first album, "Songs About Lemurs," which would
eventually go platinum by 2013. Morrissey started out by playing the
electric oboe, but moved to the role of second synth player during
recording of the second album. He was also credited as providing backing
shouts and moans. Despite the band's best intentions to stay unsuccessful
and unknown, they were nominated for numerous Grammy Awards in 2011 and
2012. Both years, they won the Grammy for "Best Electronic Folk Drum and
Bass Acoustic Synth Album." Morrissey won the MTV Teen Choice Award for
"Biggest Hipster Cutie" for his work in the band in 2011.
</p>
<div class="bio_img_right">
  <%= image_tag 'kevo_publicist.jpg' %>
  <div>From right to left: Kevin, his long-time publicist, Dave Grohl</div>
</div>
<p>
The name of the band evolved over the first year after formation.
Although first named just A Cat Named Walrus, seven months later it was
discovered that the co-lead accordion player was actually Dave Grohl and
the band was renamed A Cat Named Walrus featuring Dave Grohl. Three
months later, against Morrissey's wishes, his name was added to the
beginning of the band name due to the universal respect and admiration
the other band members felt towards him.
</p>
<p>
Outside of the band, Morrissey remained in the public eye. In 2012, he
won the Emmy Award for Outstanding Actor in a Comedy Series for his one
episode role in "Monkey Hospital." Morrissey, while looking for a place
to get a quick meal, accidentally walked onto the show's set and began
a conversation with the show's lead actor while filming. Rather than
kick him off the set, the director kept the scene in and it became the
most well-received scene in the entire show's run. When accepting the
Emmy, Morrissey famously stated, "I didn't even know I was on a set. I
didn't even get the sandwich I ordered."
</p>
<div class="bio_img_left">
  <%= image_tag 'kevo_tonys.jpg' %>
  <div>Kevin before the 66th Tony Awards with date and Dave Grohl</div>
</div>
<p>
Morrissey became an EGOT winner in 2012 when he won a Tony Award for
Best Male Performance in a Drama. Morrissey won this award for his
role in the one-man off broadway play, "Engineering: It's Pretty
Important." While originally written as merely a powerpoint
presentation that Kevin had as a class assignment, two dozen theater
critics attended the show after their bus broke down outside of the
classroom. They gave Kevin's performance rave reviews, ultimately
leading to the Tony. He received a 97 on his presentation from the
professor. 
</p>
</div>
<div class="clearfix"></div>
