<h2 id="header_top">A Short Biography of Campus Cutie Kevin Morrissey</h2>
<div id="writing">
<p>
  Here is the biography of Campus Cutie Kevin Morrissey that my older brother
  Sanchez found in our local library! He even broke it up into sections for us!
  There are a lot of interesting facts in it!
</p>
<p>
  Sanchez hasn't typed it all up yet, but every day after school he works on it!
  Hopefully he'll add a section to the biography every day, and by Campus Cutie
  Kevin Morrissey's birthday, the whole biography will be up!
</p>
</div>
<div id="bio" class="sanchez">
<div id="header_section">
<div class="bio_img_right">
  <%= image_tag 'kevo.jpg' %>
  <div>Kevin Morrissey in 2011, signing autographs in Guam.</div>
</div>
<p>
Kevin Morrissey, commonly known as Campus Cutie Kevin Morrissey, is an
international media personality widely considered the preeminent expert on
stuff. Born in 1990, Kevin Morrissey rose to fame in 1997 as the youngest ever
elephant polo player in the world. His unlikely journey as an elephant polo
player and his adventures thereafter became the subject of the New York Times
bestselling book "To Dance with Glory: The Kevin Morrissey Story" and the movie
based on the novel, "Avatar." In the years after his initial fame and success,
he dedicated his life to charitable causes and job creation in India. In 2004,
he started a program to help disadvantaged Indian women prepare and pay for
college educations in the United States. 
</p>
<p>
Two years later, he opened a black bean
canning factory in Mumbai. Recognized internationally for his innovative  fair
pay and work environment in a third world country, his Morrissey Bean Co. boomed
and spawned six additional factories in cities across India. Morrissey sold the
company in 2008 in order to focus on his college career at Tufts University, as
well as his acceptance into the IUSG (International Union of Stuff Guys). During
his time at Tufts, he was also knighted in the order of Campus Cuties. He later
became known for his contributions to the direct-to-TV advertising industry,
inventing such products as the Snuggie and the Magic Bullet. In addition to his
industrial endeavors, Morrissey is known for being a founding member of Kevin
Morrissey with A Cat Named Walrus featuring Dave Grohl, the Grammy Award
winning supergroup.
</p>
</div> 
<div id="bio_nav" class="purple">
  <div id="bio_contents"><b>Contents</b></div>
  <ul>
    <li><%= link_to '1 Early Life', '#Early_Life' %></li>
    <li><%= link_to '2 Charity and Bean Morrissey Bean Co.',
                    '#Charity_and_Bean_Morrissey_Bean_Co.' %></li>  
  </ul>
</div>
 <div id="Early_Life" class="section_title"><h3>Early Life</h3></div>
 <p> 
  Morrissey was born on June 17, 1990 in the skies above Rochester, New York.
  His parents were free climbing a cliff in a remote area of upstate New York
  and had to request air evacuation after his mother's water broke on the cliff
  as she watched a family of bears rip the tires and engine out of their car
  located at the base of the cliff 279 feet below. On the helicopter ride to the
  University of Rochester Medical Center, Kevin was born.
</p> 
<div class="bio_img_left">
  <%= image_tag 'kevo_shaun_white.jpg' %>
  <div>Kevin with childhood best friend, snowboarder Shaun White.</div>
</div>
<p>
   Morrissey's early years were very similar to the traditional suburban
   American child's. However, this changed drastically in 1996 upon his
   involvement in the Delta Airlines Kolkata disaster. He and his accelerated
   learning class were scheduled to take a week-long educational trip to Florida
   to learn about astrophysics, but he instead wandered onto airline flight
   699Q3 to Kolkata, India due to the aura of the women onboard. As was widely
   reported in the media surrounding this infamous flight's crash, one man's pet
   tiger escaped from its cage after being administered methamphetamine instead
   of a sedative and ripped a hole in the hull of the plane. The loss in cabin
   pressure caused multiple luggage bags to be sucked out of the plane and into
   the left wing engine, causing a massive explosion and sending the plane
   careening out of the sky and into the jungles of central India. As one of
   only a handful of survivors, the six year-old Morrissey was quickly separated
   from the group and spent three days foraging for food in the wilderness while
   looking for a trace of civilization. A family of Asian elephants then found
   Morrissey using a tool constructed out of wood and panther teeth to knock off
   high-hanging fruit from trees and deemed him worthy of their help. They
   quickly adopted him as a part of their group, teaching him the ways of the
   jungle.
</p> 
<div class="bio_img_right">
  <%= image_tag 'kevo_injury.jpg' %>
  <div>Kevin after his first IEPA injury with his team's coach/doctor.</div>
</div>
<p>
    Morrissey lived with this family of elephants for seven weeks before they
    were found by elephant polo talent scouts looking for new pachyderm
    recruits. Upon seeing his bond with the elephants, they became convinced
    that Kevin could help them win lucrative new endorsements as the new face of
    elephant polo. This proved to be true, as he became the youngest player ever
    in the International Elephant Polo Association (IEPA) and helped lead his
    team to victory in the Elephant Polo World Cup. He ended his season as the
    top scorer in the league, winning rookie of the year and earning a starting
    spot in the 1997 IEPA pro-bowl. His newfound fame reached his family, who
    were overjoyed to learn that Kevin was alive and well. They successfully won
    the landmark international court case Morrissey v. IEPA in The Hague,
    allowing Kevin to finally return home to the U.S.
</p> 
<p>
     Morrissey's story was immortalized in Dan Brown's bestseller, "To Dance
     with Glory: The Kevin Morrissey Story" and adapted in 2009 as the primary
     plot for James Cameron's modern classic, "Avatar." At the 82nd Academy
     Awards, he received an honorary Academy Award for his celebrated
     contributions to cinema despite not actually taking any direct role in the
     production of Avatar.
</p> 
<div id="Charity_and_Bean_Morrissey_Bean_Co." class="section_title">
  <h3>Charity and Morrissey Bean Co.</h3></div>
<div class="bio_img_left_top">
  <%= image_tag 'elephant_pen.jpg' %>
  <div>Morrissey Elephant Reserve and Polo Training Academy, 2001.</div>
</div>
<p>
      Kevin finally returned to his normal life in Rochester, but his heart
      still remained in India. Seeing firsthand the impoverished conditions of
      some areas of India, he set out to form a number of charitable and
      philanthropic organizations to help improve life there. His first effort
      focused on improving the life of the elephant community by opening the
      Morrissey Elephant Reserve and Polo Training Academy in 2000. This 80
      square mile area serves as a refuge for dozens of Asian Elephants as well
      as an elephant polo training school for the most ambitious and athletic
      elephants. Acceptance into this school depends on performance on a
      physical test and a score above 700 on the Elephant Aptitude Test (EAT).
      The academy has since produced a number of major elephant polo stars,
      including four time Gold Tusk winner Stompy.
</p>       
<p>
       In 2004, Morrissey's charitable causes turned from elephant education
       towards human education. After forming a number of youth ultimate frisbee
       leagues in various Indian cities, he created the Dreams Across Borders
       Fund. This program provided tutoring, college application assistance, and
       scholarships to Indian women without the means to pursue college
       themselves. The fund partnered with several universities in the United
       States to help educate hundreds of Indian women.
</p>        
<div class="bio_img_right">
  <%= image_tag 'kevo_bear.jpg' %>
  <div>Kevin, 14, after a Dreams Across Borders speech at the U.N.</div>
</div>
<p>
        Morrissey did not stop at philanthropy, however. In 2006, he formed
        Morrissey Bean Co. in an effort to provide a number of good, stable jobs
        for the community of Mumbai. In addition to supplying the people of
          India with nutritious black beans, his canning factory in Mumbai
          created 6,000 new jobs. After opening Morrissey Bean Co. received
          strong support from the International Labor Organization, Amnesty
          International, and the International Red Cross through providing high
          wages and comfortable working conditions. The company was also
          featured in Bloomberg, Time Magazine, and the Economist as an example
          of a successful company operating in a third-world area without
          exploiting the workforce. Morrissey opened six more factories in
          different cities in India between the years of 2006 and 2008. He
          stepped down as president and CEO of Morrissey Bean Co. in 2008 upon
          his acceptance to Tufts University in order to focus on his academic
          career. In recognition of the impact he had on the community,
          Morrissey was awarded the Bharat Ratna, the highest civilian honor in
          India.
</p>
</div>
